
@{
    ViewBag.Title = "Home";
}

<h2>Explicação</h2>

<p>Conforme solicitado, realizei o desafio utilizando a plataforma .NET, utilizando a linguagem <b>C#</b>. </p>
<p>Utilizei a Arquitetura <b>MVC</b> realizando a manipulação do banco com o <b>Entity Framework</b>, com <b>Code-First Migrations</b>, então toda modicação que eu realizar na classe, irá mudar no Banco</p>
<p>Para validação dos "Tipos de Mercadoria", utilizei Javascript no Front-End. Já a validação da "Operação" em si é realizada toda no Back-End, utilizando Data Annotations</p><br />
Utilizei a biblioteca <b>Bootstrap</b> para todo o Front-End da aplicação.
<p>Para Hospedagem, utilizei o Amazon <b>AWS</b> para a aplicação e Microsoft <b>Azure</b> para o Banco</p>


